.DS_Store
.idea

generated
openapi/v1/merged.yaml

# Maven stuff
.flattened-pom.xml
.ci-friendly-pom.xml
target

# Earthly stuff
.env
.env-woq
.arg
.secret

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
