.DS_Store
.idea

generated
venv

# Maven stuff
.flattened-pom.xml
.ci-friendly-pom.xml
target

# Earthly stuff
.env
.env-woq
.arg
.secret

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

node_modules
**/gen/**

# Ignore merged file and one downloaded for processor-controller
/openapi/v1/odmApi.yaml
/openapi/v1/processorsController.yaml

# Ignore python cache files and env from mcp-server
.venv/*
__pycache__/*
mcp-server/src/schemas/*
mcp-server/src/odmApi.yaml
mcp-server/src/odmApi_old.yaml
