<!DOCTYPE html>
<html>
  <head>
    {%- block title %}
    {%- endblock %}
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    >
    <style>
      body, html {
        padding: 30px 0;
        margin-left: 24px;
        width: 960px;
      }
      .pictures {
        display: flex;
        margin-bottom: 32px;
      }
      .picture {
        height: 420px;
        box-sizing: border-box;
        image-rendering: -webkit-optimize-contrast;
      }
      .picture.first {
        margin-right: 40px;
      }
      .picture.second {
        outline: 1px solid rgba(199, 202, 209, 1);
      }
    </style>
  </head>
  <body>
    {%- block content %}
    {%- endblock %}
  </body>
</html>
