{%- extends "base_template.jinja" %}

{%- block title %}
  <title>API Documentation — Open Data Manager — Genestack</title>
{%- endblock %}

{%- block content %}
  <section>
    <h1>API documentation</h1>
    <p>
      Open Data Manager (ODM) is a comprehensive system designed to simplify and optimize the management of data in the Life Sciences field.
      These pages describe programmatic access to ODM via RESTful APIs.
    </p>
  </section>

  {# Description section #}
  <section>
    <h4>How data is organised in ODM</h4>
    <p>
      ODM is organised into studies, samples and processed (experiment-derived/signal)
      data for those samples.
      The API endpoints below allow you to query or link together data objects.
    </p>
    <div class="pictures">
      <img
        class="picture first"
        alt="Data model"
        src="//bio-test-data.s3.amazonaws.com/odm/Images/data_model_default.png"
      />
      <img
        class="picture second"
        alt="Metainfo editor"
        src="//bio-test-data.s3.amazonaws.com/odm/Images/metainfo_editor_default.png"
      />
    </div>
  </section>

  {# Sections list #}
  {%- for sectionKey, sectionIdentifiers in sections.items() %}
    <section>
      <h4>{{ sectionKey }}</h4>
      <ul>

        {# Section items list #}
        {%- for name, comment in sectionIdentifiers.items() %}
          <li>
            <a href="/swagger/?urls.primaryName={{ name }}">{{ name }}</a> - {{ comment }}
          </li>
        {%- endfor %}
      </ul>
    </section>
  {%- endfor %}

  {# Example scripts section #}
  <section>
    <h4>Example scripts</h4>
    <p>
      Some example scripts/tutorials that use these APIs can be found at
      <a
        href="https://odm-user-guide.readthedocs.io/en/latest/"
        target="_blank"
        rel="noopener noreferrer"
      >our documentation site</a>.
    </p>
  </section>

  {# API tokens section #}
  <section>
    <h4>API Tokens</h4>
    <p>
      All API usage (including via the above example scripts) requires authentication.
      You can use either Access token from an identity provider, e.g. Azure AD, or
      <a
        href="https://odm-user-guide.readthedocs.io/en/development/doc-odm-user-guide/getting-a-genestack-api-token.html"
        target="_blank"
        rel="noopener noreferrer"
      >Genestack API token.</a>
      To specify the Access token use the “Authorization” header, to specify the Genestack API token use the “Genestack-Api-Token” header.</p>
      <p>Note: access token takes precedence, meaning that if both tokens are supplied, the access token will be used for processing the request.</p>
  </section>
{%- endblock %}
