Package: {{{packageName}}}
Title: {{{packageName}}}
Version: {{{packageVersion}}}
API version: {{{version}}}
Description: {{{appDescription}}}
Depends: R (>= 3.3.2)
License: Proprietary
Encoding: UTF-8
LazyData: true
