Configure your environment variables:

- `PRED_SPOT_HOST` spot host, required
- `PRED_SPOT_TOKEN` access token, required
- `PRED_SPOT_SCHEME` host scheme, default is `https`
- `PRED_SPOT_VERSION` spot version, default is `{{version}}`
